
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Home</h1>


<a asp-controller="Home" asp-action="Index">Home (Not set asp-area)</a>
<br />
<a asp-area="" asp-controller="Home" asp-action="Index">Home</a>