@model StarterM.Models.WebSiteProfile
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    <ul style="background-color:@Model.ThemeColor">
        <li>@Model.Email</li>
        <li>@Model.ThemeColor</li>
        <li>@Model.MyName</li>
    </ul>
</body>
</html>
