
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <my-image></my-image>
    <my-image image-name="cat_cage"></my-image>
    <hr />
    <image-list image-names="@ViewBag.Images"></image-list>
</body>
</html>
