
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <form method="post">
        <input type="text" name="number" />
        <input type="submit" value="double" />
    </form>

    <span>@ViewBag.Message</span>
</body>
</html>
